.selector {
  display: table;
  font-size: 10pt;
}

.first,
.middle,
.last {
  display: table-row;
  color: var(--gold-light);
  background-color: var(--gold-medium);
  height: 1.4em;
}

.first span,
.middle span,
.last span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0.5em 2em;
}

.first span {
  background: linear-gradient(to bottom, #4a3811, #daa42f);
}

.middle div,
.middle span {
  background: linear-gradient(to bottom, #daa42f, #ffd06b, #daa42f);
}

.last span {
  background: linear-gradient(to top, #4a3811, #daa42f);
}

.button-roll {
  display: table-cell;
  width: 10em;
  height: calc(1.5 * 1.4em);
  width: 1.4em;

  background-repeat: no-repeat;
  background-size: contain;
  color: #34270b;
}

.button-up {
  background-image: url("images/dd-dark-up.svg"),
    linear-gradient(to bottom, #4a3811, #daa42f);
  background-position: center top;
}

.button-down {
  background-image: url("images/dd-dark-down.svg"),
    linear-gradient(to top, #4a3811, #daa42f);
  background-position: center bottom;
}

.switch {
  display: table-cell;
  width: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  color: #34270b;
}

.switch-off {
  background-image: url("images/switch-off.svg");
  background-position: center bottom;
}

.switch-on {
  background-image: url("images/switch-on.svg");
  background-position: center bottom;
}

input[type="checkbox"],
input[type="checkbox"]:checked {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  height: 6em;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 2.3em;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  margin-right: 0.5em;
}

input[type="checkbox"]:not(:checked) + label {
  background-image: url("images/switch-off.svg");
}

input[type="checkbox"]:checked + label {
  background-image: url("images/switch-on.svg");
}
