:root {
  --thin-bar: 0.07em;
  --medium-bar: 0.15em;
  --creneau: 2em;
  --gold-dark: #b38728;
  --gold-medium: #bf953f;
  --gold-light: #fcf6ba;

  --bg-dark: #e8e8e8;
  --bg-medium: #d7d7d7;
  --bg-light: #ffffff;
  --btn-hover: rgb(109, 75, 16);
}

[data-theme="blue"] {
  --bg-dark: #0b1c30;
  --bg-medium: #132f4e;
  --bg-light: #235287;
  --btn-hover: rgb(44, 31, 8);
}
[data-theme="green"] {
  --bg-dark: #0a4439;
  --bg-medium: #106353;
  --bg-light: #15967e;
  --btn-hover: rgb(44, 31, 8);
}
[data-theme="red"] {
  --bg-dark: #440e0a;
  --bg-medium: #6a1610;
  --bg-light: #871d16;
  --btn-hover: rgb(44, 31, 8);
}
[data-theme="white"] {
  --bg-dark: #e8e8e8;
  --bg-medium: #d7d7d7;
  --bg-light: #ffffff;
  --btn-hover: rgb(109, 75, 16);
}
[data-theme="black"] {
  --bg-dark: #000000;
  --bg-medium: #1a1a1a;
  --bg-light: #353535;
  --btn-hover: rgb(44, 31, 8);
}

.frame {
  margin: 0em;
  padding: 2.2em;
  font-family: monospace;
  font-size: 14pt;
  display: flex;
  justify-content: center;

  background:
    /* inner binding */ linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em calc(var(--creneau) / 2) / 100% var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0 0em / calc(var(--creneau) / 2) var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% 0em / calc(var(--creneau) / 2) var(--medium-bar),
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      calc(var(--creneau) / 2) 0em / var(--medium-bar) 100%,
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 0em / var(--medium-bar) calc(var(--creneau) / 2),
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 100% / var(--medium-bar) calc(var(--creneau) / 2),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em calc(100% - var(--creneau) / 2) / 100% var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0 100% / calc(var(--creneau) / 2) var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% 100% / calc(var(--creneau) / 2) var(--medium-bar),
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      calc(100% - var(--creneau) / 2) 0em / var(--medium-bar) 100%,
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% 0em / var(--medium-bar) calc(var(--creneau) / 2),
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% 100% / var(--medium-bar) calc(var(--creneau) / 2),
    /*    –––– outter binding*/
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      var(--creneau) 0em / calc(100% - 4em) var(--medium-bar),
    /*  | */
      linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      var(--creneau) 0em / var(--medium-bar)
      calc(var(--creneau) + var(--medium-bar)),
    /* – */
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em var(--creneau) / var(--creneau) var(--medium-bar),
    /* | */
      linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em var(--creneau) / var(--medium-bar) calc(100% - 2 * var(--creneau)),
    /* – */
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em calc(100% - var(--creneau)) / var(--creneau) var(--medium-bar),
    /*  | */
      linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      var(--creneau) 100% / var(--medium-bar)
      calc(var(--creneau) + var(--medium-bar)),
    /* ––––*/
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      var(--creneau) 100% / calc(100% - 4em) var(--medium-bar),
    /*  | */
      linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      calc(100% - var(--creneau)) 100% / var(--medium-bar)
      calc(var(--creneau) + var(--medium-bar)),
    /* – */
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% calc(100% - var(--creneau)) / var(--creneau) var(--medium-bar),
    /* | */
      linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% var(--creneau) / var(--medium-bar) calc(100% - 2 * var(--creneau)),
    /* – */
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      100% var(--creneau) / var(--creneau) var(--medium-bar),
    /*  | */
      linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      calc(100% - var(--creneau)) 0em / var(--medium-bar)
      calc(var(--creneau) + var(--medium-bar));

  background-repeat: no-repeat;
  background-color: var(--bg-medium);
}

select,
button {
  display: block;
  margin: 0.4em 0.4em 0.4em 0.4em;
  height: 2.8em;
  width: 10em;
  border: 0.1em solid;
  border-radius: 0.2em;
}

/* http://www.brandgradients.com/gold-gradient/ */
/* linear-gradient( to right, var(--gold-medium), var(--gold-light), var(--gold-dark), #fbf5b7, #aa771c, transparent 50% ) 0em 0.3em/ 15em 0.5em, */
/* linear-gradient(to right, var(--gold-medium), var(--gold-light), var(--gold-dark), transparent 50%) 0em
      1.9em/ 4em 0.15em, */
button.gold {
  background: linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 0.5em/ 2em var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 1.2em/ 2.5em var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 1.9em/ 2em var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      8em 0.5em/ 2em var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      7.5em 1.2em/ 2.5em var(--medium-bar),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      8em 1.9em/ 2em var(--medium-bar);

  color: var(--gold-medium);

  background-color: var(--bg-dark);
  background-repeat: no-repeat;
  border-color: var(--gold-dark);
  word-wrap: unset;
  overflow: hidden;
  white-space: nowrap;
}

.gold:hover {
  background-color: var(--btn-hover);
}

.gold > span,
i {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(
    var(--gold-medium),
    var(--gold-light),
    var(--gold-medium)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.separator {
  margin: 1.5em auto;
  background:
  /* linear-gradient(to right, var(--gold-medium), var(--gold-light), var(--gold-dark)) calc(var(--creneau) / 8) calc(var(--creneau) / 8)/ calc(var(--creneau) - var(--creneau) / 4) var(--thin-bar), */ linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      calc(var(--creneau) * 3 / 8) calc(var(--creneau) * 3 / 8) /
      calc(var(--creneau) / 4) calc(var(--creneau) / 4),
    /* linear-gradient(to right, var(--gold-medium), var(--gold-light), var(--gold-dark)) calc(var(--creneau) / 8) calc(var(--creneau) / 8)/ calc(var(--creneau) - var(--creneau) / 4) var(--thin-bar), */
      linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 0em / var(--creneau) var(--thin-bar),
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em 0em / var(--thin-bar) var(--creneau),
    linear-gradient(
        to bottom,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      calc(var(--creneau) - var(--thin-bar)) 0em / var(--thin-bar)
      var(--creneau),
    linear-gradient(
        to right,
        var(--gold-medium),
        var(--gold-light),
        var(--gold-dark)
      )
      0em calc(var(--creneau) - var(--thin-bar)) / 2em var(--thin-bar);
  background-repeat: no-repeat;

  height: var(--creneau);
  width: var(--creneau);
  border: 0.1em solid;
  border-color: var(--gold-dark);
  rotate: 45deg;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

div > canvas {
  margin-right: 1em;
}
