body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
canvas {
  border: 1px solid;
  cursor: crosshair;
  position: absolute;
}
form {
  display: grid;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
#fixed { z-index: -1 }
#main { z-index: 10 }
